/*Navigation Bar*/

body{
  background-color: #FFEECF;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #894B00;
}

ul.navbar li {
  float: left;
}

ul.navbar li a.active {
  background-color: #BB9457;
  color: white;
  text-align: center;
}

ul.navbar li.right {float: right;}

/*Dropdown for Navigation bar*/
ul.navbar li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Hover colour change for nav bar*/
ul.navbar li a:hover, .dropdown:hover .dropbtn {
  background-color: #C9A690;
}


/*Inline block displays inline but keep padding margins*/
ul.navbar li.dropdown {
  display: inline-block;
}


/*Nav Bar Dropdown content*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: brown;
  min-width: 150px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  ul.navbar li.right,
  ul.navbar li {float: none;}
}

/*header*/
.header {
  background-color: #E8AE68;
  color: #3A0000;
  padding: 4px;
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}


/* columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/*column */
.column.small {
  width: 23%;
}

.column.medium {
  width: 48%;
}

.column.large{
  width: 73%
}

.row.loccard{
  background-color: #FFF4E0; box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

/* Clear floats after the columns */
.row:after{
  content: "";
  display: table;
  clear: both;
}


/* Responsive*/
@media screen and (max-width: 800px) {
  .column.small, .column.medium, .column.large, .column{
    width: 100%;
  }
  .row{
    flex-direction: column-reverse;
  }
  .column.small{
    margin-bottom: 20px;
  }
}

/*For Images*/
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.parallax { 
  background-image: url("images/parallaxback.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #E8AE68;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.fa-instagram {
  background: #125688;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

/*page cards*/
.maintxtbck{
  background-color: #FFF4E0;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.buycard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #FFF4E0;
}

.price {
  color: grey;
  font-size: 22px;
}

.buycard button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #503B31;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.buycard button:hover {
  opacity: 0.7;
}


#formDiv{
    text-align: center;
    margin: auto;
    width: 50%;
}
#contactus {
    width: -webkit-fill-available;
}

@media screen and (max-width: 700px) {
  #formDiv, #contactus{
    width: 100%;
  }
}




